TMDB_API_KEY=网站"https://www.themoviedb.org/settings/api"中"API 读访问令牌"的值
TMDB_DISABLE_PROXY=false(TMDB请求是否忽略系统/IDE代理并直连)
UPLOAD_MS=false(是否上传到MS服务器)
API_BASE_URL=MS服务器外网地址
AUTH_TOKEN=MS服务器接口令牌，请F12自行抓取
WORDGROUP_DISABLE_PROXY=false(上传MS请求是否忽略系统/IDE代理并直连)
